html {
    height: 100vh;
}
     
body {
    background: #000;
    height: 400vh;
    display: flex;
    justify-content: center;
}
     
canvas {
    position: fixed;
    max-height: 100vh;
    max-width: 100vw;
}
    